## <summary>TactiQ CTL interfaces</summary>

########################################
## <summary>
##   Execute tactiq-ctl in the tactiq_ctl_t domain.
## </summary>
## <param name="domain">
##   <summary>Domain allowed to transition.</summary>
## </param>
## <param name="role">
##   <summary>Role allowed to access.</summary>
## </param>
#
interface(`tactiq_ctl_domtrans',`
    gen_require(`
        type tactiq_ctl_t;
        type tactiq_ctl_exec_t;
    ')

    domtrans_pattern($1, tactiq_ctl_exec_t, tactiq_ctl_t)
    role $2 types tactiq_ctl_t;
')

########################################
## <summary>
##   Execute tactiq-ctl (no domain transition).
## </summary>
## <param name="domain">
##   <summary>Domain to execute from.</summary>
## </param>
#
interface(`tactiq_ctl_exec',`
    gen_require(`
        type tactiq_ctl_exec_t;
    ')

    can_exec($1, tactiq_ctl_exec_t)
')
