## <summary>TactiQ Agent policy interfaces</summary>

########################################
## <summary>
##   Allow a domain to communicate with tactiq-agent via Unix socket.
## </summary>
## <param name="domain">
##   <summary>Domain to grant access.</summary>
## </param>
interface(`tactiq_agent_stream_connect',`
    gen_require(`
        type tactiq_agent_t;
        type tactiq_agent_var_t;
    ')
    stream_connect_pattern($1, tactiq_agent_var_t, tactiq_agent_var_t, tactiq_agent_t)
')

########################################
## <summary>
##   Allow a domain to read tactiq-agent logs.
## </summary>
## <param name="domain">
##   <summary>Domain to grant access.</summary>
## </param>
interface(`tactiq_agent_read_log',`
    gen_require(`
        type tactiq_agent_log_t;
    ')
    allow $1 tactiq_agent_log_t:dir list_dir_perms;
    allow $1 tactiq_agent_log_t:file read_file_perms;
')
