## <summary>TactiQ Verifier interfaces</summary>

########################################
## <summary>
##   Connect to the verifier via TCP (mTLS port 8443).
## </summary>
## <param name="domain">
##   <summary>Domain to grant connection.</summary>
## </param>
#
interface(`tactiq_verifier_tcp_connect',`
    gen_require(`
        type tactiq_verifier_t;
        type tactiq_verifier_port_t;
    ')

    allow $1 tactiq_verifier_port_t:tcp_socket name_connect;
')

########################################
## <summary>
##   Read verifier logs.
## </summary>
## <param name="domain">
##   <summary>Domain to grant read access.</summary>
## </param>
#
interface(`tactiq_verifier_read_log',`
    gen_require(`
        type tactiq_verifier_log_t;
    ')

    allow $1 tactiq_verifier_log_t:dir list_dir_perms;
    allow $1 tactiq_verifier_log_t:file read_file_perms;
')

########################################
## <summary>
##   Read CRL published by verifier.
## </summary>
## <param name="domain">
##   <summary>Domain to grant CRL read access.</summary>
## </param>
#
interface(`tactiq_verifier_read_crl',`
    gen_require(`
        type tactiq_verifier_crl_t;
    ')

    allow $1 tactiq_verifier_crl_t:dir list_dir_perms;
    allow $1 tactiq_verifier_crl_t:file read_file_perms;
')
